#ClockContainer
{
    background-image: url("Images/Clock\ BG.png");
    background-repeat: no-repeat;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background-size: 100%;
    border: none;
    position: relative;
}
#hour , #minute , #second
{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour
{
    width: 1.7%;
    height: 15%;
    top: 43.5%;
    left: 49%;
    opacity: 0.8;
}
#minute
{
    width: 1.5%;
    height: 23%;
    top: 35.5%;
    left: 49.5%;
    opacity: 0.8;   
}
#second
{
    width: 1.1%;
    height: 23.1%;
    top: 35%;
    left: 49.3%;
    opacity: 0.8; 

}
body
{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron',sans-serif;
}
h1
{
    padding-top: 0;
    margin: 0;
}
.clock
{
    position: fixed; 
    transform-origin: bottom;
    display: flex;
    top: 39pc;
    padding-left: 11pc;
}
@media (max-width: 1500px)   
{
    #ClockContainer,body
    {
        height: 1900px;
        width: 1900px;
        right: 100px;
        left: 50px;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden; 

    }
    #hours , #minutes , #seconds , #am-or-pm
    {
        display: contents;
        
    }
    .clock
    {
        padding-top: 80pc;
        font-size: 50px;
        right: 25pc;
    }
}